<ion-content>
  <h3>Sistema de Pedidos</h3>
  <img src="assets/imgs/tela-inicial.png" alt="logo">

<form action="">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="creds.email" name="email" type="Email"></ion-input> 
  </ion-item>
  <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="creds.senha" name="senha" type="password" ></ion-input> 
    </ion-item>
  <ion-button expand="full" (click)="login()"> Login</ion-button>
  <ion-button expand="full" fill="outline"> Registrar</ion-button>
</form>

</ion-content>
  

